{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div>
  <article>
    <h1>{{.Title}}</h1>
    {{.Content}}
  </article>

<div class="neopetcode content">

  <p><b>The Neopet Code</b> is a fun way to put a lot of information about your Neopet into one single line of text. Instead of writing a paragraph long description about your Neopet (on <a href="http://www.neopets.com/refer.phtml?username=iversia">Neopets.com</a>), you can condense all of that information into one line of text. Think of the Neopet Code as a &quot;Secret Code&quot; aimed generally at people who <a href="http://www.neopets.com/neoboards/boardlist.phtml?board=14">Role Play</a> as their Neopets in Neoboards and Roleplay Guilds. When you write out your code using it and give it to another player, they must use this page to &quot;Decode&quot; it and figure things out about your NeoPet.</p>

  <h2>Decoding a Neopet Code</h2>
  <p>To decode a Neopet Code, you must use this page as a decoder. Each part of a person's Neopet Code (if done correctly), can be explained by comparing it to the Code Key on this site. Here is an example of a completed Neopet Code:</p>
  <p><span style="color:red"><b>NC="NluSfW6DnCwytspkEgltAdtT-Lev[4]M[none]HpbG[StN]RP[n]"</b></span></p>

  <ul>
    <li><span style="color:red"><strong>NC=</strong></span> signifies the beginning of the Neopet Code.</li>
    <li><span style="color:red"><strong>Nlu</strong></span> means that SpectraDevil is a Lupe.</li>
    <li><span style="color:red"><strong>Sf</strong></span> means that SpectraDevil is a female</li>
    <li><span style="color:red"><strong>W6</strong></span> means that she is roleplayed in both Quad and Anthro forms.
    </li>
    <li><span style="color:red"><strong>Dn</strong></span> is SpectraDevil's diet, which means: &quot;I eat noobies. Are
      you one? *licks lips*&quot;</li>
    <li>Etc.</li>
  </ul>

  <p>Got it yet? It's pretty easy once you get the hang of it. Some people have even managed to memorize some of the Code off by heart, believe it or not!</p>

  <h2>Getting Started</h2>

  <p>So do you feel up to making your own yet? Open up NotePad, Sublime, VS Code, or some other text editor and use it to copy (highlight the code and press Ctrl+C) &amp; paste (Ctrl+V) the pieces of Code as you go along.</p>

  <table style="width:45rem">
    <tr>
      <td colspan="2" class="s">Key</td>
    </tr>
    <tr>
      <td align="center" class="c">Code</td>
      <td class="m">What the particular part of code means.</td>
    </tr>
  </table>

  <p>Once you are finished you will have a line of code of your own to describe your Neopet. Please remember to link back so that other people may find this site and decode your Neopet Codes! Thanks!</p>

  <h1>Start Here</h1>
  <table class="tbl">
    <tr>
      <td colspan="2" class="s">Beginning</td>
    </tr>
    <tr>
      <td align="center" class="c">NC=</td>
      <td class="m">To signify the beginning of the Neopet Code.</td>
    </tr>
  </table>

  <h2>Your Neopet's Species</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">Nai</td>
      <td class="m">Aisha</td>
      <td align="center" class="c">Nac</td>
      <td class="m">Acara</td>
      <td align="center" class="c">Nblu</td>
      <td class="m">Blumaroo</td>
      <td align="center" class="c">Nbor</td>
      <td class="m">Bori</td>
      <td align="center" class="c">Nbr</td>
      <td class="m">Bruce</td>
    </tr>
    <tr>
      <td class="c">Nbuz</td>
      <td class="m">Buzz</td>
      <td class="c">Nchi</td>
      <td class="m">Chia</td>
      <td class="c">Ncho</td>
      <td class="m">Chomby</td>
      <td class="c">Ncy</td>
      <td class="m">Cybunny</td>
      <td class="c">Ndra</td>
      <td class="m">Draik</td>
    </tr>
    <tr>
      <td class="c">Nel</td>
      <td class="m">Elephante</td>
      <td class="c">Neyr</td>
      <td class="m">Eyrie</td>
      <td class="c">Nflo</td>
      <td class="m">Flotsam</td>
      <td class="c">Ngel</td>
      <td class="m">Gelert</td>
      <td class="c">Ngu</td>
      <td class="m">Gnorbu</td>
    </tr>
    <tr>
      <td class="c">Ngr</td>
      <td class="m">Grarrl</td>
      <td class="c">Ngrn</td>
      <td class="m">Grundo</td>
      <td class="c">Nhis</td>
      <td class="m">Hissi</td>
      <td class="c">Nix</td>
      <td class="m">Ixi</td>
      <td class="c">Njet</td>
      <td class="m">Jetsam</td>
    </tr>
    <tr>
      <td class="c">Njib</td>
      <td class="m">JubJub</td>
      <td class="c">Nka</td>
      <td class="m">Kacheek</td>
      <td class="c">Nku</td>
      <td class="m">Kau</td>
      <td class="c">Nkik</td>
      <td class="m">Kiko</td>
      <td class="c">Nkoi</td>
      <td class="m">Koi</td>
    </tr>
    <tr>
      <td class="c">Nkor</td>
      <td class="m">Korbat</td>
      <td class="c">Nko</td>
      <td class="m">Kougra</td>
      <td class="c">Nkra</td>
      <td class="m">Krawk</td>
      <td class="c">Nkyr</td>
      <td class="m">Kyrii</td>
      <td class="c">Nlen</td>
      <td class="m">Lenny</td>
    </tr>
    <tr>
      <td class="c">Nlu</td>
      <td class="m">Lupe</td>
      <td class="c">Nlut</td>
      <td class="m">Lutari</td>
      <td class="c">Nme</td>
      <td class="m">Meerca</td>
      <td class="c">Nmoe</td>
      <td class="m">Moehog</td>
      <td class="c">Nmy</td>
      <td class="m">Mynci</td>
    </tr>
    <tr>
      <td class="c">Nni</td>
      <td class="m">Nimmo</td>
      <td class="c">Nogr</td>
      <td class="m">Ogrin</td>
      <td class="c">Npeo</td>
      <td class="m">Peophin</td>
      <td class="c">Npte</td>
      <td class="m">Pteri</td>
      <td class="c">Npo</td>
      <td class="m">Poogle</td>
    </tr>
    <tr>
      <td class="c">Nqui</td>
      <td class="m">Quiggle</td>
      <td class="c">Nruk</td>
      <td class="m">Ruki</td>
      <td class="c">Nsco</td>
      <td class="m">Scorchio</td>
      <td class="c">Nsh</td>
      <td class="m">Shoyru</td>
      <td class="c">Nske</td>
      <td class="m">Skeith</td>
    </tr>
    <tr>
      <td class="c">Ntec</td>
      <td class="m">Techo</td>
      <td class="c">Nton</td>
      <td class="m">Tonu</td>
      <td class="c">Ntus</td>
      <td class="m">Tuskaninny</td>
      <td class="c">Nun</td>
      <td class="m">Uni</td>
      <td class="c">Nus</td>
      <td class="m">Usul</td>
    </tr>
    <tr>
      <td class="c">Nxwe</td>
      <td class="m">Xweetok </td>
      <td class="c">Nwoc</td>
      <td class="m">Wocky</td>
      <td class="c">Nyur</td>
      <td class="m">Yurble</td>
      <td class="c">Nza</td>
      <td class="m">Zafara</td>
      <td class="c"> </td>
      <td class="m"> </td>
    </tr>
    <tr>
      <td class="c">Nlab[]</td>
      <td class="m" colspan="9">Lab Pet. In the squared brackets, please specify your Neopets original species, or what
        you hope it'll change into.</td>
    </tr>
    <tr>
      <td class="c">Nhyb</td>
      <td class="m" colspan="9">Hybrid - A mix of one or more species of Neopet</td>
    </tr>
  </table>

  <h2>Your Neopet's Gender</h2>
  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/mall_wig_curlypink.gif" alt="Girl"><br /><img
          src="/images/neopetcode/mall_wig_pompador.gif" alt="Boy"></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">Sm</td>
            <td class="m">Male</td>
          </tr>
          <tr>
            <td align="center" class="c">Sf</td>
            <td class="m">Female</td>
          </tr>
          <tr>
            <td align="center" class="c">Sc</td>
            <td class="m">Changes (Lab pet)</td>
          </tr>
          <tr>
            <td align="center" class="c">Sh</td>
            <td class="m">A little of both; gender fluid</td>
          </tr>
          <tr>
            <td align="center" class="c">Sn</td>
            <td class="m">None; neither</td>
          </tr>
          <tr>
            <td align="center" class="c">Su</td>
            <td class="m">Unknown</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2>Roleplay Form</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">W2</td>
      <td class="m">Anthro. You prefer to roleplay this Neopet in their  anthropomorphic form. Eg. <a
          href="http://images.neopets.com/tcg/c_ice/0042_RV04.gif">Kanrik</a>, <a  href="http://images.neopets.com/tcg/c_meri/0046_RH02.gif">Jeran</a>, <a href="http://images.neopets.com/tcg/c_meri/0015_HV02.gif">Lord Kass</a>, etc.</td>
    </tr>
    <td align="center" class="c">W4</td>
    <td class="m">Quad. You prefer to roleplay this Neopet in their quad form.</td>
    </tr>
    <tr>
      <td align="center" class="c">W6</td>
      <td class="m">Both. You do not mind roleplaying in either quad or anthro forms.</td>
    </tr>
  </table>

  <h2>Your Neopet's Diet</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">D---</td>
      <td class="m">Strictly vegetarian.</td>
    </tr>
    <tr>
      <td align="center" class="c">D--</td>
      <td class="m">Mainly plants, but sometimes a few crunchy bugs.</td>
    </tr>
    <tr>
      <td align="center" class="c">D-</td>
      <td class="m">Eh... I live exclusively off of sugar and candy coated treats.</td>
    </tr>
    <tr>
      <td align="center" class="c">D</td>
      <td class="m">I'm an omnivore. A little bit of everything. ^_^</td>
    </tr>
    <tr>
      <td align="center" class="c">D†</td>
      <td class="m">Mm... fresh meat.</td>
    </tr>
    <tr>
      <td align="center" class="c">D††</td>
      <td class="m">100% raw/diced/sliced/pineapple/blueberry/ect CHIA!!!!11eleven</td>
    </tr>
    <tr>
      <td align="center" class="c">D†††</td>
      <td class="m">Red water...</td>
    </tr>
    <tr>
      <td align="center" class="c">D!</td>
      <td class="m">You look good... May I eat you?! *leaps!*</td>
    </tr>
    <tr>
      <td align="center" class="c">D!!</td>
      <td class="m">Pocket lint and toe jam, wanna taste?</td>
    </tr>
    <tr>
      <td align="center" class="c">Dd</td>
      <td class="m">Donuts. (*cackles* ...world domination here we come...)</td>
    </tr>
    <tr>
      <td align="center" class="c">Dm</td>
      <td class="m">Muffins. (Plotting? Who said anything about plotting?)</td>
    </tr>
    <tr>
      <td align="center" class="c">Dr</td>
      <td class="m">Ronuts. (Can't we all just get along?)</td>
    </tr>
    <tr>
      <td align="center" class="c">Dn</td>
      <td class="m">I eat noobies. Are you one? *licks lips*</td>
    </tr>
    <tr>
      <td align="center" class="c">D[]</td>
      <td class="m">*other, specify what within the squared brackets.</td>
    </tr>
  </table>

  <h2>Your Neopet's Colour</h2>
  <table>
    <tr>
      <td>
        <p>
          <img src=/images/neopetcode/glasspntbrush.gif alt="Glass"><br>
          <img src=/images/neopetcode/pb_darigan.gif alt="Darigan"><br>
          <img src=/images/neopetcode/paintbrush_royal.gif alt="Royal">
        </p>
      </td>
      <td>

        <table class="tbl">
          <tr>
            <td class="c">Cali</td>
            <td class="m">Alien</td>
            <td class="c">Capp</td>
            <td class="m">Apple</td>
            <td class="c">Casp</td>
            <td class="m">Asparagus</td>
            <td class="c">Caub</td>
            <td class="m">Aubergine</td>
            <td class="c">Cavo</td>
            <td class="m">Avocado</td>
            <td class="c">Cbay</td>
            <td class="m">Baby</td>
          </tr>
          <tr>
          </tr>
          <td class="c">Cbis</td>
          <td class="m">Biscuit</td>
          <td class="c">Cblu</td>
          <td class="m">Blue</td>
          <td class="c">Cbby</td>
          <td class="m">Blueberry</td>
          <td class="c">Cbrn</td>
          <td class="m">Brown</td>
          <td class="c">Cflage</td>
          <td class="m">Camouflage</td>
          <td class="c">Carr</td>
          <td class="m">Carrot</td>
          <tr>
          <tr>
            <td class="c">Chk</td>
            <td class="m">Checkered</td>
            <td class="c">Choc</td>
            <td class="m">Chocolate</td>
            <td class="c">Chok</td>
            <td class="m">Chokato</td>
            <td class="c">Cxms</td>
            <td class="m">Christmas</td>
            <td class="c">Clay</td>
            <td class="m">Clay</td>
            <td class="c">Csky</td>
            <td class="m">Cloud</td>
          </tr>
          <tr>
            <td class="c">Coco</td>
            <td class="m">Coconut</td>
            <td class="c">Cust</td>
            <td class="m">Custard</td>
            <td class="c">Cdar</td>
            <td class="m">Darigan</td>
            <td class="c">Cdes</td>
            <td class="m">Desert</td>
            <td class="c">Cdis</td>
            <td class="m">Disco</td>
            <td class="c">Cdur</td>
            <td class="m">Durian</td>
          </tr>
          <tr>
            <td class="c">Czap</td>
            <td class="m">Electric</td>
            <td class="c">Cfly</td>
            <td class="m">Faerie</td>
            <td class="c">Cfym</td>
            <td class="m">Fire*</td>
            <td class="c">Cgar</td>
            <td class="m">Garlic</td>
            <td class="c">Cgho</td>
            <td class="m">Ghost</td>
            <td class="c">Cglo</td>
            <td class="m">Glowing</td>
          </tr>
          <tr>
            <td class="c">Cld</td>
            <td class="m">Gold</td>
            <td class="c">Cgb</td>
            <td class="m">Gooseberry</td>
            <td class="c">Cgrp</td>
            <td class="m">Grape</td>
            <td class="c">Cg</td>
            <td class="m">Green</td>
            <td class="c">Cgry</td>
            <td class="m">Grey</td>
            <td class="c">Chal</td>
            <td class="m">Halloween</td>
          </tr>
          <tr>
            <td class="c">Cice</td>
            <td class="m">Ice</td>
            <td class="c">Cinv</td>
            <td class="m">Invisible</td>
            <td class="c">Cisl</td>
            <td class="m">Island</td>
            <td class="c">Cjel</td>
            <td class="m">Jelly</td>
            <td class="c">Clem</td>
            <td class="m">Lemon</td>
            <td class="c">Cli</td>
            <td class="m">Lime</td>
          </tr>
          <tr>
            <td class="c">Cmlo</td>
            <td class="m">Mallow</td>
            <td class="c">Cmara</td>
            <td class="m">Maraquan</td>
            <td class="c">Cmsp</td>
            <td class="m">Msp</td>
            <td class="c">Cmut</td>
            <td class="m">Mutant</td>
            <td class="c">Coni</td>
            <td class="m">Onion</td>
            <td class="c">Cora</td>
            <td class="m">Orange</td>
          </tr>
          <tr>

            <td class="c">Cpea</td>
            <td class="m">Pea</td>
            <td class="c">Cpch</td>
            <td class="m">Peach</td>
            <td class="c">Cper</td>
            <td class="m">Pear</td>
            <td class="c">Cpep</td>
            <td class="m">Pepper</td>
            <td class="c">Cppl</td>
            <td class="m">Pineapple</td>
            <td class="c">Cpin</td>
            <td class="m">Pink</td>
          </tr>
          <tr>
            <td class="c">Carr</td>
            <td class="m">Pirate</td>
            <td class="c">Cplm</td>
            <td class="m">Plum</td>
            <td class="c">Cplu</td>
            <td class="m">Plushie</td>
            <td class="c">Cpur</td>
            <td class="m">Purple</td>
            <td class="c">Cqui</td>
            <td class="m">Quiguki</td>
            <td class="c">Cbow</td>
            <td class="m">Rainbow</td>
          </tr>
          <tr>
            <td class="c">Cr</td>
            <td class="m">Red</td>
            <td class="c">Cmec</td>
            <td class="m">Robot</td>
            <td class="c">Croy</td>
            <td class="m">Royal</td>
            <td class="c">Cblk</td>
            <td class="m">Shadow</td>
            <td class="c">Csil</td>
            <td class="m">Silver</td>
            <td class="c">Cskt</td>
            <td class="m">Sketch</td>
          </tr>
          <tr>
            <td class="c">Cknk</td>
            <td class="m">Skunk</td>
            <td class="c">Cmuc</td>
            <td class="m">Snot</td>
            <td class="c">Csn</td>
            <td class="m">Snow</td>
            <td class="c">Cspk</td>
            <td class="m">Speckled</td>
            <td class="c">Chaf</td>
            <td class="m">Split</td>
            <td class="c">Cspg</td>
            <td class="m">Sponge</td>
          </tr>
          <tr>
            <td class="c">Cspt</td>
            <td class="m">Spotted</td>
            <td class="c">Cstr</td>
            <td class="m">Starry*</td>
            <td class="c">Cstb</td>
            <td class="m">Strawberry</td>
            <td class="c">Csti</td>
            <td class="m">Striped</td>
            <td class="c">Cthn</td>
            <td class="m">Thornberry</td>
            <td class="c">Ctmo</td>
            <td class="m">Tomato</td>
          </tr>
          <tr>
            <td class="c">Ctyr</td>
            <td class="m">Tyrannian</td>
            <td class="c">Cusu</td>
            <td class="m">Usuki</td>
            <td class="c">Cwyt</td>
            <td class="m">White</td>
            <td class="c">Cy</td>
            <td class="m">Yellow</td>
            <td class="c">Czom</td>
            <td class="m">Zombie</td>
            <td class="c"> </td>
            <td class="m"> </td>
          </tr>
          <tr>
            <td class="c">C[]</td>
            <td class="m" colspan=11>If other, please insert the name of the colour inside of the square brackets.</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <p><strong>Note:</strong> Colours marked with asterisks (*), have special colour modifiers which may be found later on
    in the Neopet Code.</p>

  <h2>Your Neopet's Colour Modifier</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">smg</td>
      <td class="m">Smooth and well groomed</td>
    </tr>
    <tr>
      <td align="center" class="c">avg</td>
      <td class="m">Fairly average when it comes to looks</td>
    </tr>
    <tr>
      <td align="center" class="c">spk</td>
      <td class="m">Spiky</td>
    </tr>
    <tr>
      <td align="center" class="c">rgd</td>
      <td class="m">Rugged</td>
    </tr>
    <tr>
      <td align="center" class="c">trn</td>
      <td class="m">Battle torn</td>
    </tr>
    <tr>
      <td align="center" class="c">pu</td>
      <td class="m">What do you mean I smell?</td>
    </tr>
    <tr>
      <td align="center" class="c">ick</td>
      <td class="m">Oh that? That was last month's lunch.</td>
    </tr>
    <tr>
      <td align="center" class="c">nfr</td>
      <td class="m">No fur</td>
    </tr>
    <tr>
      <td align="center" class="c">sca</td>
      <td class="m">Scales</td>
    </tr>
    <tr>
      <td align="center" class="c">...[]</td>
      <td class="m">I have spots! Specify the colour of them in the squared brackets. <br><i>Example: ...[purple]</i></td>
    </tr>
    <tr>
      <td align="center" class="c">|||[]</td>
      <td class="m">Rarr! I have stripes like a tiger! Specify their colour in the squared brackets.
        <br><i>Example:|||[black]</i></td>
    </tr>
  </table>

  <h3>* Fire Modifier: Use only if your Neopet is painted Fire</h3>
  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/firepntbrush.gif" alt="Fire"></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">u[]</td>
            <td class="m">Insert colour of flames in the square brackets. <br><i>Example: u[pink]</i></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <h3>* Stars Modifier: Use only if your Neopet is painted Starry</h3>

  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/starspntbrush.gif" alt="Starry"></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">ar[]</td>
            <td class="m">Insert colour of stars in the square brackets.<br><i>Example: ar[green]</i></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2>Your Neopet's Eye Colour</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">Eblu</td>
      <td class="m">Blue</td>
    </tr>
    <tr>
      <td align="center" class="c">Eblk</td>
      <td class="m">Black</td>
    </tr>
    <tr>
      <td align="center" class="c">Ebrn</td>
      <td class="m">Brown</td>
    </tr>
    <tr>
      <td align="center" class="c">Ehaz</td>
      <td class="m">Hazel</td>
    </tr>
    <tr>
      <td align="center" class="c">Epur</td>
      <td class="m">Purple</td>
    </tr>
    <tr>
      <td align="center" class="c">Epin</td>
      <td class="m">Pink</td>
    </tr>
    <tr>
      <td align="center" class="c">Eg</td>
      <td class="m">Green</td>
    </tr>
    <tr>
      <td align="center" class="c">Eorn</td>
      <td class="m">Orange</td>
    </tr>
    <tr>
      <td align="center" class="c">Ey</td>
      <td class="m">Yellow</td>
    </tr>
    <tr>
      <td align="center" class="c">Eam</td>
      <td class="m">Amber</td>
    </tr>
    <tr>
      <td align="center" class="c">Er</td>
      <td class="m">Red</td>
    </tr>
    <tr>
      <td align="center" class="c">Esvr</td>
      <td class="m">Silver</td>
    </tr>
    <tr>
      <td align="center" class="c">Ewyt</td>
      <td class="m">White</td>
    </tr>
    <tr>
      <td align="center" class="c">Ech</td>
      <td class="m">Changes colours</td>
    </tr>
    <tr>
      <td align="center" class="c">E[]</td>
      <td class="m">If other, please specify the colour within the squared brackets.</td>
    </tr>
  </table>

  <h2>Eye Details</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">pl</td>
      <td class="m">Pupil-less; solid colour</td>
    </tr>
    <tr>
      <td align="center" class="c">slt</td>
      <td class="m">Slitted</td>
    </tr>
    <tr>
      <td align="center" class="c">bir[]l[]</td>
      <td class="m">Bi-coloured. Put the colour of your Neopet's right eye in the first set of squared brackets and the colour of their left eye in the second set of squared brackets.<br><i>Example: bir[red]l[orange]</i></td>
    </tr>
    <tr>
      <td align="center" class="c">dk</td>
      <td class="m">Dark</td>
    </tr>
    <tr>
      <td align="center" class="c">lt</td>
      <td class="m">Light</td>
    </tr>
    <tr>
      <td align="center" class="c">gl</td>
      <td class="m">Glowing</td>
    </tr>
    <tr>
      <td align="center" class="c">bn</td>
      <td class="m">Blind in one eye or both</td>
    </tr>
  </table>

  <h2>Age</h2>
  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/food_kougra_paste.gif" alt="Baby"><br /><img
          src="/images/neopetcode/blackmound.gif" alt="Bleech."></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">Ap</td>
            <td class="m">Pup; child; newborn; hatchling</td>
          </tr>
          <tr>
            <td align="center" class="c">Aa</td>
            <td class="m">Adolescent; teenager</td>
          </tr>
          <tr>
            <td align="center" class="c">Adt</td>
            <td class="m">Adult</td>
          </tr>
          <tr>
            <td align="center" class="c">Ald</td>
            <td class="m">Old and geezerish
            </td>
          </tr>
          <tr>
            <td align="center" class="c">Au</td>
            <td class="m">Unknown</td>
          </tr>
          <tr>
            <td align="center" class="c">Asl</td>
            <td class="m">Ageless</td>
          </tr>
          <tr>
            <td align="center" class="c">Aim</td>
            <td class="m">Foolish question, mortal! (immortal)</td>
          </tr>
          <tr>
            <td align="center" class="c">Amort</td>
            <td class="m">Dead; deceased</td>
          </tr>
          <tr>
            <td align="center" class="c">Apir</td>
            <td class="m">Undead and/or vampiric</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2>Personality</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">T---</td>
      <td class="m">I'm an all-around friendly Neopet.=b</td>
    </tr>
    <tr>
      <td align="center" class="c">T--</td>
      <td class="m">I'm nice... but if you mess with my friends... *snarls*</td>
    </tr>
    <tr>
      <td align="center" class="c">T-</td>
      <td class="m">A grump... hmph!</td>
    </tr>
    <tr>
      <td align="center" class="c">T</td>
      <td class="m">I'm fairly <i>normal</i>.</td>
    </tr>
    <tr>
      <td align="center" class="c">T†</td>
      <td class="m">Go away.</td>
    <tr>
      <td align="center" class="c">T~</td>
      <td class="m">I'm rather withdrawn and like to keep to myself.</td>
    </tr>
    <tr>
      <td align="center" class="c">T††</td>
      <td class="m">See these claws? Better run kid...</td>
    </tr>
    <tr>
      <td align="center" class="c">T†††</td>
      <td class="m">I hate you all. *mutters*</td>
    </tr>
    <tr>
      <td align="center" class="c">T!</td>
      <td class="m">I have a VERY STRONG affinity for red water.</td>
    </tr>
    <tr>
      <td align="center" class="c">T?</td>
      <td class="m">Yeah, I'm know I'm weird. What's it to you?</td>
    </tr>
    <tr>
      <td align="center" class="c">T?!</td>
      <td class="m">Heh... heh... the underwear stealing lawn gnomes are coming. What was that Mr. Arnold Pancake?</td>
    </tr>
    <tr>
      <td align="center" class="c">T??!</td>
      <td class="m">DOOM! *breaks into the Doom song*</td>
    </tr>
    <tr>
      <td align="center" class="c">T^</td>
      <td class="m">I'm shy... *looks down at the ground*</td>
    </tr>
    <tr>
      <td align="center" class="c">T^^</td>
      <td class="m">I'm maybe just a little <i>too</i> friendly... XDDDDD</td>
    </tr>
    <tr>
      <td align="center" class="c">T^!</td>
      <td class="m">I'm so nice, that I'm bound to get on your nerves!</td>
    </tr>
    <tr>
      <td align="center" class="c">T^!!</td>
      <td class="m">I was vain once, but now I'm perfect.</td>
    </tr>
    <tr>
      <td align="center" class="c">T^++</td>
      <td class="m">I've got a lot of different sides... or at least that's what I told myself.</td>
    </tr>
  </table>

  <h2>Sanity Level</h2>

  <table>
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/poster_love_sloth.gif"
          alt="Beyond weird for certain... but still awesome."></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">Lev[]</td>
            <td class="m">Rate your Neopet's sanity level on a scale from one to ten. 1=Completely Sane, 10=Beyond Weird.
              <br><i>Example: Lev[8]</i></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2>Magic</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">Mrth</td>
      <td class="m">Earth</td>
    </tr>
    <tr>
      <td align="center" class="c">Mfyr</td>
      <td class="m">Fire</td>
    </tr>
    <tr>
      <td align="center" class="c">Mh2o</td>
      <td class="m">Water</td>
    </tr>
    <tr>
      <td align="center" class="c">Mayr</td>
      <td class="m">Air</td>
    </tr>
    <tr>
      <td align="center" class="c">Mtme</td>
      <td class="m">Time manipulation</td>
    </tr>
    <tr>
      <td align="center" class="c">Mlin</td>
      <td class="m">Lightning</td>
    </tr>
    <tr>
      <td align="center" class="c">Mblk</td>
      <td class="m">Darkness; black magic</td>
    </tr>
    <tr>
      <td align="center" class="c">Mwyt</td>
      <td class="m">Light; white magic; pure; healing</td>
    </tr>
    <tr>
      <td align="center" class="c">Mpsy</td>
      <td class="m">Psychic; telekinesis; telepathy</td>
    </tr>
    <tr>
      <td align="center" class="c">Mice</td>
      <td class="m">Ice</td>
    </tr>
    <tr>
      <td align="center" class="c">Mall</td>
      <td class="m">I know all forms of magic.</td>
    </tr>
    <tr>
      <td align="center" class="c">M[]</td>
      <td class="m">If other, please specify in the square brackets. If your Neopet doesn't know any magic, write "M[none]"</td>
    </tr>
  </table>

  <h2>Miscellaneous</h2>
  <table class="tbl">
    <tr>
      <td align="center" class="c">Hpl</td>
      <td class="m">I have one or more piercings in my left ear.</td>
    </tr>
    <tr>
      <td align="center" class="c">Hpr</td>
      <td class="m">I have one or more piercings in my right ear.</td>
    </tr>
    <tr>
      <td align="center" class="c">Hplr</td>
      <td class="m">I have one or more piercings in both of my ears.</td>
    </tr>
    <tr>
      <td align="center" class="c">Hbp</td>
      <td class="m">I have my bellybutton pierced.</td>
    </tr>
    <tr>
      <td align="center" class="c">Heb</td>
      <td class="m">I have one or more eyebrow piercings.</td>
    </tr>
    <tr>
      <td align="center" class="c">Hpe</td>
      <td class="m">I have practically everything on me pierced. (Ouch!)</td>
    </tr>
    <tr>
      <td align="center" class="c">Ifwn</td>
      <td class="m">I have feathered wings.</td>
    </tr>
    <tr>
      <td align="center" class="c">Iswn</td>
      <td class="m">I have scaled;demon;dragon wings.</td>
    </tr>
    <tr>
      <td align="center" class="c">Ibwn</td>
      <td class="m">I have butterfly wings.</td>
    </tr>
    <tr>
      <td align="center" class="c">;;[] </td>
      <td class="m">I have (a) scar(s). Specify where in the squared brackets. <br><i>Example: ;;[over right eye]</i></td>
    </tr>
    <tr>
      <td align="center" class="c">Velf</td>
      <td class="m">I have Elvish ears!</td>
    </tr>
    <tr>
      <td align="center" class="c">Vpoi</td>
      <td class="m">Pointy ears, have I do.</td>
    </tr>
    <tr>
      <td align="center" class="c">Vhor</td>
      <td class="m">Squee.... I have horns, watch out! Evil incarnate!</td>
    </tr>
    <tr>
      <td align="center" class="c">Vtus</td>
      <td class="m">I have tusks!</td>
    </tr>
    <tr>
      <td align="center" class="c">Vdef</td>
      <td class="m">I'm deaf in one ear or both</td>
    </tr>
    <tr>
      <td align="center" class="c">Vmte</td>
      <td class="m">I'm mute (can't speak).</td>
    </tr>
    <tr>
      <td align="center" class="c">Vgls</td>
      <td class="m">I wear glasses, 'cause I'm totally cool like that..</td>
    </tr>
    <tr>
      <td align="center" class="c">Vflo</td>
      <td class="m">*sings* Do your ears hang low? Mine do... they're floppy.</td>
    </tr>
    <tr>
      <td align="center" class="c">V[]</td>
      <td class="m">If your pet has other add-ons/accessories, please specify in the square brackets.</td>
    </tr>
  </table>

  <h2>Group Affiliation</h2>
  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/haunted_woods.gif" alt="Group Affiliation"></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">G[]</td>
            <td class="m">Insert the name of your Neopet's pack, group, guild, etc. or it's acronym in the sqared
              brackets. Type "G[none]" if they do not have a particular affiliation.<br><i>Example: G[StN]</i>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <h2>Roleplay Status</h2>
  <table class="tbl">
    <tr>
      <td style="width:9rem"><img src="/images/neopetcode/neopedia.gif" alt="Roleplay Status"></td>
      <td style="width:99%">
        <table class="tbl">
          <tr>
            <td align="center" class="c">RP[n]</td>
            <td class="m">You are <b>not</b> currently roleplaying as this Neopet.</td>
          </tr>
          <tr>
            <td align="center" class="c">RP[y]</td>
            <td class="m">You are currently roleplaying as this Neopet.</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>


</div>
{{ end }}
