<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
<head>
<meta charset="utf-8">
<title>{{ block "title" . }} {{ .Site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/modern-normalize.css">
<link rel="stylesheet" href="/css/stn.css">
</head>
<body>
  <div class="wrapper">
    <header id="header">
      <h1><a href="/">[x] Seize the Night [x]</a></h1>
    </header>
    <main>
    {{ block "main" . }}
    {{ end }}
    </main>
    {{ block "footer" . }}
    {{ end }}
  </div>
  {{ partial "footer.html" . }}
<script src="/js/jquery.js"></script>
<script src="/js/jquery.debounce.js"></script>
<script src="/js/jquery.fluidbox.min.js"></script>
<script>
$(function () {
  $('.image').fluidbox()
  .on('openstart.fluidbox', function (e) {
    e.preventDefault();
    let bg = 'background-image: url("' + $(this).find("img").attr("src") + '")';
    document.styleSheets[0].addRule(".fluidbox__overlay::before", bg);
  })
  .on('openend.fluidbox', function (e) {
  })
  .on('closestart.fluidbox', function () {
  });
});
</script>
</body>
</html>
