{{ define "main" }}
<div>
  {{.Content}}
  <nav class="menu">
    <a class="menu-item" href="/about/">
      <span class="menu-item-name">About</span><span class="menu-item-label">What the hell is this? 💚</span>
    </a>
    <a class="menu-item" href="/gallery/">
      <span class="menu-item-name">Gallery</span><span class="menu-item-label">Collection of Neopets artwork</span>
    </a>
    <a class="menu-item" href="/neopet-code/">
      <span class="menu-item-name">Neopet Code</span><span class="menu-item-label">You asked nicely, so it's back</span>
    </a>
    <a class="menu-item" href="/join/">
      <span class="menu-item-name">Join</span><span class="menu-item-label">Seriously? 😏</span>
    </a>
    <a class="menu-item" href="mailto:guild@shriker.ca?subject=Seize the Night art submission">
      <span class="menu-item-name">Contribute</span><span class="menu-item-label">Send your artwork here</span>
    </a>
  </nav>

</div>
{{ end }}
